<%= @results %>
<table class="table table-striped">

    <thead>
      <td>Мастер</td>
      <td>Имя пользователя</td>
      <td>Время и дата</td>
      <td>Цвет волос</td>
    </thead>
    
  <tbody>  
    <% @results.each do |row| %>

      <tr>
        <td><%= row['barber'] %></td>
        <td><%= row['username'] %></td>
        <td><%= row['date_stamp'] %></td>
        <td><%= row['color'] %></td>
      </tr>  

    <% end %>
  </tbody>  
</table>