<script type="text/javascript">
  $(function(){

    $('#color').simplecolorpicker();

  })
</script>

<h2>Записаться на стрижку</h2>

<p>Введите ваши данные:</p>

<form action="/visit" method="POST">
  <div class="form-group">
    <label for="barber">Choose the barber</label>
    <select class="form-control" name="barber" ">
      <option <%= @barber == 'Walter White' ? 'selected' : '' %>>Walter White</option>
      <option <%= @barber == 'Jessie Pinkman' ? 'selected' : '' %>>Jessie Pinkman</option>
      <option <%= @barber == 'Gus Fring' ? 'selected' : '' %>>Gus Fring</option>
    </select>
  </div>

  <div>
    <label>Выберете цвет покраски: </label>
    <select id="color" name="colorpicker">
      <option value="#7bd148" <%= @color == '#7bd148' ? 'selected' : '' %>>Green</option>
      <option value="#5484ed" <%= @color == '#5484ed' ? 'selected' : '' %>>Bold blue</option>
      <option value="#a4bdfc" <%= @color == '#a4bdfc' ? 'selected' : '' %>>Blue</option>
      <option value="#46d6db" <%= @color == '#46d6db' ? 'selected' : '' %>>Turquoise</option>
      <option value="#7ae7bf" <%= @color == '#7ae7bf' ? 'selected' : '' %>>Light green</option>
      <option value="#51b749" <%= @color == '#51b749' ? 'selected' : '' %>>Bold green</option>
      <option value="#fbd75b" <%= @color == '#fbd75b' ? 'selected' : '' %>>Yellow</option>
      <option value="#ffb878" <%= @color == '#ffb878' ? 'selected' : '' %>>Orange</option>
      <option value="#ff887c" <%= @color == '#ff887c' ? 'selected' : '' %>>Red</option>
      <option value="#dc2127" <%= @color == '#dc2127' ? 'selected' : '' %>>Bold red</option>
      <option value="#dbadff" <%= @color == '#dbadff' ? 'selected' : '' %>>Purple</option>
      <option value="#e1e1e1" <%= @color == '#e1e1e1' ? 'selected' : '' %>>Gray</option>
    </select>    
  </div>
  <div class="form-group">
    <label for="username">Имя</label>
    <input name="username" type="text" class="form-control" placeholder="Имя" value="<%= @username %>">
  </div>

  <div class="form-group">
    <label for="date_stamp">Дата</label>
    <input name="date_stamp" type="text" class="form-control" placeholder="Дата" value="<%= @date_stamp %>">
  </div>

  <button type="submit" class="btn btn-primary">Записаться</button>
</form>

